<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msyq.psetshop.mapper.AdimMapper">
  <resultMap id="BaseResultMap" type="com.msyq.psetshop.pojo.Adim">
    <!--@mbg.generated-->
    <!--@Table adim-->
    <id column="a_id" jdbcType="INTEGER" property="aId" />
    <result column="a_password" jdbcType="INTEGER" property="aPassword" />
    <result column="a_name" jdbcType="VARCHAR" property="aName" />
    <result column="a_root" jdbcType="INTEGER" property="aRoot" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    a_id, a_password, a_name, a_root
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from adim
    where a_id = #{aId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from adim
    where a_id = #{aId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="a_id" keyProperty="aId" parameterType="com.msyq.psetshop.pojo.Adim" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into adim (a_password, a_name, a_root
      )
    values (#{aPassword,jdbcType=INTEGER}, #{aName,jdbcType=VARCHAR}, #{aRoot,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" keyColumn="a_id" keyProperty="aId" parameterType="com.msyq.psetshop.pojo.Adim" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into adim
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="aPassword != null">
        a_password,
      </if>
      <if test="aName != null">
        a_name,
      </if>
      <if test="aRoot != null">
        a_root,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="aPassword != null">
        #{aPassword,jdbcType=INTEGER},
      </if>
      <if test="aName != null">
        #{aName,jdbcType=VARCHAR},
      </if>
      <if test="aRoot != null">
        #{aRoot,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.msyq.psetshop.pojo.Adim">
    <!--@mbg.generated-->
    update adim
    <set>
      <if test="aPassword != null">
        a_password = #{aPassword,jdbcType=INTEGER},
      </if>
      <if test="aName != null">
        a_name = #{aName,jdbcType=VARCHAR},
      </if>
      <if test="aRoot != null">
        a_root = #{aRoot,jdbcType=INTEGER},
      </if>
    </set>
    where a_id = #{aId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.msyq.psetshop.pojo.Adim">
    <!--@mbg.generated-->
    update adim
    set a_password = #{aPassword,jdbcType=INTEGER},
      a_name = #{aName,jdbcType=VARCHAR},
      a_root = #{aRoot,jdbcType=INTEGER}
    where a_id = #{aId,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2021-10-14-->
  <select id="findAllByAIdAndAPassword" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from adim
        where a_id=#{aId,jdbcType=INTEGER} and a_password=#{aPassword,jdbcType=INTEGER}
    </select>

<!--auto generated by MybatisCodeHelper on 2021-10-14-->
  <select id="findAllByARoot" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from adim
    where  #{aRoot,jdbcType=VARCHAR} > a_root
  </select>
</mapper>