<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msyq.psetshop.mapper.BusinessMapper">
  <resultMap id="BaseResultMap" type="com.msyq.psetshop.pojo.Business">
    <!--@mbg.generated-->
    <!--@Table business-->
    <id column="b_id" jdbcType="INTEGER" property="bId" />
    <result column="fk_bc_id" jdbcType="INTEGER" property="fkBcId" />
    <result column="b_name" jdbcType="VARCHAR" property="bName" />
    <result column="b_content" jdbcType="VARCHAR" property="bContent" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    b_id, fk_bc_id, b_name, b_content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from business
    where b_id = #{bId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from business
    where b_id = #{bId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="b_id" keyProperty="bId" parameterType="com.msyq.psetshop.pojo.Business" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into business (fk_bc_id, b_name, b_content
      )
    values (#{fkBcId,jdbcType=INTEGER}, #{bName,jdbcType=VARCHAR}, #{bContent,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="b_id" keyProperty="bId" parameterType="com.msyq.psetshop.pojo.Business" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into business
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fkBcId != null">
        fk_bc_id,
      </if>
      <if test="bName != null">
        b_name,
      </if>
      <if test="bContent != null">
        b_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fkBcId != null">
        #{fkBcId,jdbcType=INTEGER},
      </if>
      <if test="bName != null">
        #{bName,jdbcType=VARCHAR},
      </if>
      <if test="bContent != null">
        #{bContent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.msyq.psetshop.pojo.Business">
    <!--@mbg.generated-->
    update business
    <set>
      <if test="fkBcId != null">
        fk_bc_id = #{fkBcId,jdbcType=INTEGER},
      </if>
      <if test="bName != null">
        b_name = #{bName,jdbcType=VARCHAR},
      </if>
      <if test="bContent != null">
        b_content = #{bContent,jdbcType=VARCHAR},
      </if>
    </set>
    where b_id = #{bId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.msyq.psetshop.pojo.Business">
    <!--@mbg.generated-->
    update business
    set fk_bc_id = #{fkBcId,jdbcType=INTEGER},
      b_name = #{bName,jdbcType=VARCHAR},
      b_content = #{bContent,jdbcType=VARCHAR}
    where b_id = #{bId,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2021-10-05-->
  <select id="listByAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from business
    </select>
</mapper>