<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msyq.psetshop.mapper.ClassesMapper">
  <resultMap id="BaseResultMap" type="com.msyq.psetshop.pojo.Classes">
    <!--@mbg.generated-->
    <!--@Table classes-->
    <id column="c_id" jdbcType="INTEGER" property="cId" />
    <result column="fk_d_id" jdbcType="INTEGER" property="fkDId" />
    <result column="c_datea" jdbcType="TIME" property="cDatea" />
    <result column="c_dateb" jdbcType="TIME" property="cDateb" />
    <result column="c_tf" jdbcType="INTEGER" property="cTf" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    c_id, fk_d_id, c_datea, c_dateb, c_tf
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from classes
    where c_id = #{cId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from classes
    where c_id = #{cId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="c_id" keyProperty="cId" parameterType="com.msyq.psetshop.pojo.Classes" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into classes (fk_d_id, c_datea, c_dateb, 
      c_tf)
    values (#{fkDId,jdbcType=INTEGER}, #{cDatea,jdbcType=TIME}, #{cDateb,jdbcType=TIME}, 
      #{cTf,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="c_id" keyProperty="cId" parameterType="com.msyq.psetshop.pojo.Classes" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into classes
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fkDId != null">
        fk_d_id,
      </if>
      <if test="cDatea != null">
        c_datea,
      </if>
      <if test="cDateb != null">
        c_dateb,
      </if>
      <if test="cTf != null">
        c_tf,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fkDId != null">
        #{fkDId,jdbcType=INTEGER},
      </if>
      <if test="cDatea != null">
        #{cDatea,jdbcType=TIME},
      </if>
      <if test="cDateb != null">
        #{cDateb,jdbcType=TIME},
      </if>
      <if test="cTf != null">
        #{cTf,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.msyq.psetshop.pojo.Classes">
    <!--@mbg.generated-->
    update classes
    <set>
      <if test="fkDId != null">
        fk_d_id = #{fkDId,jdbcType=INTEGER},
      </if>
      <if test="cDatea != null">
        c_datea = #{cDatea,jdbcType=TIME},
      </if>
      <if test="cDateb != null">
        c_dateb = #{cDateb,jdbcType=TIME},
      </if>
      <if test="cTf != null">
        c_tf = #{cTf,jdbcType=INTEGER},
      </if>
    </set>
    where c_id = #{cId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.msyq.psetshop.pojo.Classes">
    <!--@mbg.generated-->
    update classes
    set fk_d_id = #{fkDId,jdbcType=INTEGER},
      c_datea = #{cDatea,jdbcType=TIME},
      c_dateb = #{cDateb,jdbcType=TIME},
      c_tf = #{cTf,jdbcType=INTEGER}
    where c_id = #{cId,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2021-10-15-->
  <select id="listByAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from classes
    </select>
</mapper>