<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msyq.psetshop.mapper.DoctorMapper">
  <resultMap id="BaseResultMap" type="com.msyq.psetshop.pojo.Doctor">
    <!--@mbg.generated-->
    <!--@Table doctor-->
    <id column="d_id" jdbcType="INTEGER" property="dId" />
    <result column="d_password" jdbcType="INTEGER" property="dPassword" />
    <result column="d_name" jdbcType="VARCHAR" property="dName" />
    <result column="d_img" jdbcType="VARCHAR" property="dImg" />
    <result column="d_inroduce" jdbcType="VARCHAR" property="dInroduce" />
    <result column="u_tf" jdbcType="INTEGER" property="uTf" />
    <result column="d_date" jdbcType="TIMESTAMP" property="dDate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    d_id, d_password, d_name, d_img, d_inroduce, u_tf, d_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from doctor
    where d_id = #{dId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from doctor
    where d_id = #{dId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="d_id" keyProperty="dId" parameterType="com.msyq.psetshop.pojo.Doctor" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into doctor (d_password, d_name, d_img, 
      d_inroduce, u_tf, d_date
      )
    values (#{dPassword,jdbcType=INTEGER}, #{dName,jdbcType=VARCHAR}, #{dImg,jdbcType=VARCHAR}, 
      #{dInroduce,jdbcType=VARCHAR}, #{uTf,jdbcType=INTEGER}, #{dDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="d_id" keyProperty="dId" parameterType="com.msyq.psetshop.pojo.Doctor" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into doctor
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dPassword != null">
        d_password,
      </if>
      <if test="dName != null">
        d_name,
      </if>
      <if test="dImg != null">
        d_img,
      </if>
      <if test="dInroduce != null">
        d_inroduce,
      </if>
      <if test="uTf != null">
        u_tf,
      </if>
      <if test="dDate == null">
        d_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dPassword != null">
        #{dPassword,jdbcType=INTEGER},
      </if>
      <if test="dName != null">
        #{dName,jdbcType=VARCHAR},
      </if>
      <if test="dImg != null">
        #{dImg,jdbcType=VARCHAR},
      </if>
      <if test="dInroduce != null">
        #{dInroduce,jdbcType=VARCHAR},
      </if>
      <if test="uTf != null">
        #{uTf,jdbcType=INTEGER},
      </if>
      <if test="dDate == null">
        now(),
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.msyq.psetshop.pojo.Doctor">
    <!--@mbg.generated-->
    update doctor
    <set>
      <if test="dPassword != null">
        d_password = #{dPassword,jdbcType=INTEGER},
      </if>
      <if test="dName != null">
        d_name = #{dName,jdbcType=VARCHAR},
      </if>
      <if test="dImg != null">
        d_img = #{dImg,jdbcType=VARCHAR},
      </if>
      <if test="dInroduce != null">
        d_inroduce = #{dInroduce,jdbcType=VARCHAR},
      </if>
      <if test="uTf != null">
        u_tf = #{uTf,jdbcType=INTEGER},
      </if>
      <if test="dDate != null">
        d_date = #{dDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where d_id = #{dId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.msyq.psetshop.pojo.Doctor">
    <!--@mbg.generated-->
    update doctor
    set d_password = #{dPassword,jdbcType=INTEGER},
      d_name = #{dName,jdbcType=VARCHAR},
      d_img = #{dImg,jdbcType=VARCHAR},
      d_inroduce = #{dInroduce,jdbcType=VARCHAR},
      u_tf = #{uTf,jdbcType=INTEGER},
      d_date = #{dDate,jdbcType=TIMESTAMP}
    where d_id = #{dId,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2021-10-03-->
  <select id="findByAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from doctor
        <where>
            <if test="dId != null">
                and d_id=#{dId,jdbcType=INTEGER}
            </if>
            <if test="dPassword != null">
                and d_password=#{dPassword,jdbcType=INTEGER}
            </if>
            <if test="dName != null">
                and d_name=#{dName,jdbcType=VARCHAR}
            </if>
            <if test="dImg != null">
                and d_img=#{dImg,jdbcType=VARCHAR}
            </if>
            <if test="dInroduce != null">
                and d_inroduce=#{dInroduce,jdbcType=VARCHAR}
            </if>
            <if test="uTf != null">
                and u_tf=#{uTf,jdbcType=INTEGER}
            </if>
            <if test="dDate != null">
                and d_date=#{dDate,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>
</mapper>