<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msyq.psetshop.mapper.ErrorMapper">
  <resultMap id="BaseResultMap" type="com.msyq.psetshop.pojo.Error">
    <!--@mbg.generated-->
    <!--@Table error-->
    <id column="e_id" jdbcType="INTEGER" property="eId" />
    <result column="e_ip" jdbcType="VARCHAR" property="eIp" />
    <result column="e_number" jdbcType="VARCHAR" property="eNumber" />
    <result column="e_content" jdbcType="VARCHAR" property="eContent" />
    <result column="e_date" jdbcType="TIMESTAMP" property="eDate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    e_id, e_ip, e_number, e_content, e_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from error
    where e_id = #{eId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from error
    where e_id = #{eId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="e_id" keyProperty="eId" parameterType="com.msyq.psetshop.pojo.Error" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into error (e_ip, e_number, e_content, 
      e_date)
    values (#{eIp,jdbcType=VARCHAR}, #{eNumber,jdbcType=VARCHAR}, #{eContent,jdbcType=VARCHAR}, 
      #{eDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="e_id" keyProperty="eId" parameterType="com.msyq.psetshop.pojo.Error" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into error
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="eIp != null">
        e_ip,
      </if>
      <if test="eNumber != null">
        e_number,
      </if>
      <if test="eContent != null">
        e_content,
      </if>
      <if test="eDate == null">
        e_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="eIp != null">
        #{eIp,jdbcType=VARCHAR},
      </if>
      <if test="eNumber != null">
        #{eNumber,jdbcType=VARCHAR},
      </if>
      <if test="eContent != null">
        #{eContent,jdbcType=VARCHAR},
      </if>
      <if test="eDate == null">
        now(),
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.msyq.psetshop.pojo.Error">
    <!--@mbg.generated-->
    update error
    <set>
      <if test="eIp != null">
        e_ip = #{eIp,jdbcType=VARCHAR},
      </if>
      <if test="eNumber != null">
        e_number = #{eNumber,jdbcType=VARCHAR},
      </if>
      <if test="eContent != null">
        e_content = #{eContent,jdbcType=VARCHAR},
      </if>
      <if test="eDate != null">
        e_date = #{eDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where e_id = #{eId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.msyq.psetshop.pojo.Error">
    <!--@mbg.generated-->
    update error
    set e_ip = #{eIp,jdbcType=VARCHAR},
      e_number = #{eNumber,jdbcType=VARCHAR},
      e_content = #{eContent,jdbcType=VARCHAR},
      e_date = #{eDate,jdbcType=TIMESTAMP}
    where e_id = #{eId,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2021-10-15-->
  <select id="listByAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from error
    </select>
</mapper>