<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msyq.psetshop.mapper.FunMapper">
  <resultMap id="BaseResultMap" type="com.msyq.psetshop.pojo.Fun">
    <!--@mbg.generated-->
    <!--@Table fun-->
    <id column="f_id" jdbcType="INTEGER" property="fId" />
    <result column="fk_u_id" jdbcType="INTEGER" property="fkUId" />
    <result column="f_password" jdbcType="VARCHAR" property="fPassword" />
    <result column="f_number" jdbcType="INTEGER" property="fNumber" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    f_id, fk_u_id, f_password, f_number
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from fun
    where f_id = #{fId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from fun
    where f_id = #{fId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="f_id" keyProperty="fId" parameterType="com.msyq.psetshop.pojo.Fun" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into fun (fk_u_id, f_password, f_number
      )
    values (#{fkUId,jdbcType=INTEGER}, #{fPassword,jdbcType=VARCHAR}, #{fNumber,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" keyColumn="f_id" keyProperty="fId" parameterType="com.msyq.psetshop.pojo.Fun" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into fun
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fkUId != null">
        fk_u_id,
      </if>
      <if test="fPassword != null">
        f_password,
      </if>
      <if test="fNumber != null">
        f_number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fkUId != null">
        #{fkUId,jdbcType=INTEGER},
      </if>
      <if test="fPassword != null">
        #{fPassword,jdbcType=VARCHAR},
      </if>
      <if test="fNumber != null">
        #{fNumber,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.msyq.psetshop.pojo.Fun">
    <!--@mbg.generated-->
    update fun
    <set>
      <if test="fkUId != null">
        fk_u_id = #{fkUId,jdbcType=INTEGER},
      </if>
      <if test="fPassword != null">
        f_password = #{fPassword,jdbcType=VARCHAR},
      </if>
      <if test="fNumber != null">
        f_number = #{fNumber,jdbcType=INTEGER},
      </if>
    </set>
    where f_id = #{fId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.msyq.psetshop.pojo.Fun">
    <!--@mbg.generated-->
    update fun
    set fk_u_id = #{fkUId,jdbcType=INTEGER},
      f_password = #{fPassword,jdbcType=VARCHAR},
      f_number = #{fNumber,jdbcType=INTEGER}
    where f_id = #{fId,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2021-10-14-->
  <select id="findAllByFkUIdAndFPassword" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from fun
        where fk_u_id=#{fkUId,jdbcType=INTEGER} and f_password=#{fPassword,jdbcType=VARCHAR}
    </select>

<!--auto generated by MybatisCodeHelper on 2021-10-14-->
  <select id="findAllByFkUIdAndFPasswordAndFNumber" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from fun
    where fk_u_id=#{fkUId,jdbcType=INTEGER} and f_password=#{fPassword,jdbcType=VARCHAR} and
    f_number > #{fNumber,jdbcType=INTEGER}
  </select>

<!--auto generated by MybatisCodeHelper on 2021-10-14-->
  <update id="updateByFkUIdAndFPasswordAndFNumber">
    update fun
    <set>
      <if test="updated.fNumber != null">
        f_number = #{updated.fNumber,jdbcType=INTEGER},
      </if>
    </set>
    where fk_u_id=#{fkUId,jdbcType=INTEGER} and f_password=#{fPassword,jdbcType=VARCHAR}
  </update>
</mapper>