<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msyq.psetshop.mapper.GoodsMapper">
  <resultMap id="BaseResultMap" type="com.msyq.psetshop.pojo.Goods">
    <!--@mbg.generated-->
    <!--@Table goods-->
    <id column="g_id" jdbcType="INTEGER" property="gId" />
    <result column="g_name" jdbcType="VARCHAR" property="gName" />
    <result column="fk_gc_id" jdbcType="VARCHAR" property="fkGcId" />
    <result column="fk_type_id" jdbcType="VARCHAR" property="fkTypeId" />
    <result column="g_content" jdbcType="VARCHAR" property="gContent" />
    <result column="g_price" jdbcType="INTEGER" property="gPrice" />
    <result column="g_img" jdbcType="VARCHAR" property="gImg" />
    <result column="g_imgs" jdbcType="VARCHAR" property="gImgs" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    g_id, g_name, fk_gc_id, fk_type_id, g_content, g_price, g_img, g_imgs
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from goods
    where g_id = #{gId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from goods
    where g_id = #{gId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="g_id" keyProperty="gId" parameterType="com.msyq.psetshop.pojo.Goods" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into goods (g_name, fk_gc_id, fk_type_id, 
      g_content, g_price, g_img, 
      g_imgs)
    values (#{gName,jdbcType=VARCHAR}, #{fkGcId,jdbcType=VARCHAR}, #{fkTypeId,jdbcType=VARCHAR}, 
      #{gContent,jdbcType=VARCHAR}, #{gPrice,jdbcType=INTEGER}, #{gImg,jdbcType=VARCHAR}, 
      #{gImgs,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="g_id" keyProperty="gId" parameterType="com.msyq.psetshop.pojo.Goods" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="gName != null">
        g_name,
      </if>
      <if test="fkGcId != null">
        fk_gc_id,
      </if>
      <if test="fkTypeId != null">
        fk_type_id,
      </if>
      <if test="gContent != null">
        g_content,
      </if>
      <if test="gPrice != null">
        g_price,
      </if>
      <if test="gImg != null">
        g_img,
      </if>
      <if test="gImgs != null">
        g_imgs,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="gName != null">
        #{gName,jdbcType=VARCHAR},
      </if>
      <if test="fkGcId != null">
        #{fkGcId,jdbcType=VARCHAR},
      </if>
      <if test="fkTypeId != null">
        #{fkTypeId,jdbcType=VARCHAR},
      </if>
      <if test="gContent != null">
        #{gContent,jdbcType=VARCHAR},
      </if>
      <if test="gPrice != null">
        #{gPrice,jdbcType=INTEGER},
      </if>
      <if test="gImg != null">
        #{gImg,jdbcType=VARCHAR},
      </if>
      <if test="gImgs != null">
        #{gImgs,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.msyq.psetshop.pojo.Goods">
    <!--@mbg.generated-->
    update goods
    <set>
      <if test="gName != null">
        g_name = #{gName,jdbcType=VARCHAR},
      </if>
      <if test="fkGcId != null">
        fk_gc_id = #{fkGcId,jdbcType=VARCHAR},
      </if>
      <if test="fkTypeId != null">
        fk_type_id = #{fkTypeId,jdbcType=VARCHAR},
      </if>
      <if test="gContent != null">
        g_content = #{gContent,jdbcType=VARCHAR},
      </if>
      <if test="gPrice != null">
        g_price = #{gPrice,jdbcType=INTEGER},
      </if>
      <if test="gImg != null">
        g_img = #{gImg,jdbcType=VARCHAR},
      </if>
      <if test="gImgs != null">
        g_imgs = #{gImgs,jdbcType=VARCHAR},
      </if>
    </set>
    where g_id = #{gId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.msyq.psetshop.pojo.Goods">
    <!--@mbg.generated-->
    update goods
    set g_name = #{gName,jdbcType=VARCHAR},
      fk_gc_id = #{fkGcId,jdbcType=VARCHAR},
      fk_type_id = #{fkTypeId,jdbcType=VARCHAR},
      g_content = #{gContent,jdbcType=VARCHAR},
      g_price = #{gPrice,jdbcType=INTEGER},
      g_img = #{gImg,jdbcType=VARCHAR},
      g_imgs = #{gImgs,jdbcType=VARCHAR}
    where g_id = #{gId,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2021-10-03-->
  <select id="findByAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from goods
        <where>
            <if test="gId != null">
                and g_id=#{gId,jdbcType=INTEGER}
            </if>
            <if test="gName != null">
                and g_name=#{gName,jdbcType=VARCHAR}
            </if>
            <if test="fkGcId != null">
                and fk_gc_id=#{fkGcId,jdbcType=VARCHAR}
            </if>
            <if test="fkTypeId != null">
                and fk_type_id=#{fkTypeId,jdbcType=VARCHAR}
            </if>
            <if test="gContent != null">
                and g_content=#{gContent,jdbcType=VARCHAR}
            </if>
            <if test="gPrice != null">
                and g_price=#{gPrice,jdbcType=INTEGER}
            </if>
            <if test="gImg != null">
                and g_img=#{gImg,jdbcType=VARCHAR}
            </if>
            <if test="gImgs != null">
                and g_imgs=#{gImgs,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

<!--auto generated by MybatisCodeHelper on 2021-10-03-->
  <select id="findAllByFkGcId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from goods
    where fk_gc_id like #{fkGcId,jdbcType=VARCHAR}
  </select>

<!--auto generated by MybatisCodeHelper on 2021-10-03-->
  <select id="findAllByFkTypeId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from goods
    where fk_type_id like #{fkTypeId,jdbcType=VARCHAR}
  </select>

<!--auto generated by MybatisCodeHelper on 2021-10-05-->
  <select id="findAllByGName" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from goods
    where g_name=#{gName,jdbcType=VARCHAR}
  </select>
</mapper>