<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msyq.psetshop.mapper.GoodsCategoryMapper">
  <resultMap id="BaseResultMap" type="com.msyq.psetshop.pojo.GoodsCategory">
    <!--@mbg.generated-->
    <!--@Table goods_category-->
    <id column="gc_id" jdbcType="INTEGER" property="gcId" />
    <result column="gc_name" jdbcType="VARCHAR" property="gcName" />
    <result column="sc_note" jdbcType="VARCHAR" property="scNote" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    gc_id, gc_name, sc_note
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from goods_category
    where gc_id = #{gcId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from goods_category
    where gc_id = #{gcId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="gc_id" keyProperty="gcId" parameterType="com.msyq.psetshop.pojo.GoodsCategory" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into goods_category (gc_name, sc_note)
    values (#{gcName,jdbcType=VARCHAR}, #{scNote,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="gc_id" keyProperty="gcId" parameterType="com.msyq.psetshop.pojo.GoodsCategory" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into goods_category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="gcName != null">
        gc_name,
      </if>
      <if test="scNote != null">
        sc_note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="gcName != null">
        #{gcName,jdbcType=VARCHAR},
      </if>
      <if test="scNote != null">
        #{scNote,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.msyq.psetshop.pojo.GoodsCategory">
    <!--@mbg.generated-->
    update goods_category
    <set>
      <if test="gcName != null">
        gc_name = #{gcName,jdbcType=VARCHAR},
      </if>
      <if test="scNote != null">
        sc_note = #{scNote,jdbcType=VARCHAR},
      </if>
    </set>
    where gc_id = #{gcId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.msyq.psetshop.pojo.GoodsCategory">
    <!--@mbg.generated-->
    update goods_category
    set gc_name = #{gcName,jdbcType=VARCHAR},
      sc_note = #{scNote,jdbcType=VARCHAR}
    where gc_id = #{gcId,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2021-10-03-->
  <select id="findByAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from goods_category
        <where>
            <if test="gcId != null">
                and gc_id=#{gcId,jdbcType=INTEGER}
            </if>
            <if test="gcName != null">
                and gc_name=#{gcName,jdbcType=VARCHAR}
            </if>
            <if test="scNote != null">
                and sc_note=#{scNote,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

<!--auto generated by MybatisCodeHelper on 2021-10-15-->
  <select id="listByAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from goods_category
  </select>
</mapper>