<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msyq.psetshop.mapper.MakeMapper">
  <resultMap id="BaseResultMap" type="com.msyq.psetshop.pojo.Make">
    <!--@mbg.generated-->
    <!--@Table make-->
    <id column="m_id" jdbcType="INTEGER" property="mId" />
    <result column="fk_b_id" jdbcType="INTEGER" property="fkBId" />
    <result column="fk_u_id" jdbcType="INTEGER" property="fkUId" />
    <result column="fk_d_id" jdbcType="INTEGER" property="fkDId" />
    <result column="m_date" jdbcType="TIMESTAMP" property="mDate" />
    <result column="m_content" jdbcType="VARCHAR" property="mContent" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    m_id, fk_b_id, fk_u_id, fk_d_id, m_date, m_content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from make
    where m_id = #{mId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from make
    where m_id = #{mId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="m_id" keyProperty="mId" parameterType="com.msyq.psetshop.pojo.Make" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into make (fk_b_id, fk_u_id, fk_d_id, 
      m_date, m_content)
    values (#{fkBId,jdbcType=INTEGER}, #{fkUId,jdbcType=INTEGER}, #{fkDId,jdbcType=INTEGER}, 
      #{mDate,jdbcType=TIMESTAMP}, #{mContent,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="m_id" keyProperty="mId" parameterType="com.msyq.psetshop.pojo.Make" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into make
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fkBId != null">
        fk_b_id,
      </if>
      <if test="fkUId != null">
        fk_u_id,
      </if>
      <if test="fkDId != null">
        fk_d_id,
      </if>
      <if test="mDate != null">
        m_date,
      </if>
      <if test="mContent != null">
        m_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fkBId != null">
        #{fkBId,jdbcType=INTEGER},
      </if>
      <if test="fkUId != null">
        #{fkUId,jdbcType=INTEGER},
      </if>
      <if test="fkDId != null">
        #{fkDId,jdbcType=INTEGER},
      </if>
      <if test="mDate != null">
        #{mDate,jdbcType=TIMESTAMP},
      </if>
      <if test="mContent != null">
        #{mContent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.msyq.psetshop.pojo.Make">
    <!--@mbg.generated-->
    update make
    <set>
      <if test="fkBId != null">
        fk_b_id = #{fkBId,jdbcType=INTEGER},
      </if>
      <if test="fkUId != null">
        fk_u_id = #{fkUId,jdbcType=INTEGER},
      </if>
      <if test="fkDId != null">
        fk_d_id = #{fkDId,jdbcType=INTEGER},
      </if>
      <if test="mDate != null">
        m_date = #{mDate,jdbcType=TIMESTAMP},
      </if>
      <if test="mContent != null">
        m_content = #{mContent,jdbcType=VARCHAR},
      </if>
    </set>
    where m_id = #{mId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.msyq.psetshop.pojo.Make">
    <!--@mbg.generated-->
    update make
    set fk_b_id = #{fkBId,jdbcType=INTEGER},
      fk_u_id = #{fkUId,jdbcType=INTEGER},
      fk_d_id = #{fkDId,jdbcType=INTEGER},
      m_date = #{mDate,jdbcType=TIMESTAMP},
      m_content = #{mContent,jdbcType=VARCHAR}
    where m_id = #{mId,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2021-10-05-->
  <select id="listByAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from make
    </select>

<!--auto generated by MybatisCodeHelper on 2021-10-08-->
  <select id="findAllByFkUId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from make
    where fk_u_id=#{fkUId,jdbcType=INTEGER}
    and m_date >now()
  </select>

<!--auto generated by MybatisCodeHelper on 2021-10-11-->
  <select id="findAllByFkUIdAndFkDId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from make
    where fk_u_id=#{fkUId,jdbcType=INTEGER}
    and fk_d_id=#{fkDId,jdbcType=INTEGER}
    and m_date > now()
  </select>
</mapper>