<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msyq.psetshop.mapper.PaLikeMapper">
  <resultMap id="BaseResultMap" type="com.msyq.psetshop.pojo.PaLike">
    <!--@mbg.generated-->
    <!--@Table pa_like-->
    <id column="pal_id" jdbcType="INTEGER" property="palId" />
    <result column="fk_pa_id" jdbcType="INTEGER" property="fkPaId" />
    <result column="fk_u_id" jdbcType="INTEGER" property="fkUId" />
    <result column="pal_tf" jdbcType="INTEGER" property="palTf" />
    <result column="pal_date" jdbcType="TIMESTAMP" property="palDate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    pal_id, fk_pa_id, fk_u_id, pal_tf, pal_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from pa_like
    where pal_id = #{palId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from pa_like
    where pal_id = #{palId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="pal_id" keyProperty="palId" parameterType="com.msyq.psetshop.pojo.PaLike" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into pa_like (fk_pa_id, fk_u_id, pal_tf, 
      pal_date)
    values (#{fkPaId,jdbcType=INTEGER}, #{fkUId,jdbcType=INTEGER}, #{palTf,jdbcType=INTEGER}, 
      #{palDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="pal_id" keyProperty="palId" parameterType="com.msyq.psetshop.pojo.PaLike" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into pa_like
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fkPaId != null">
        fk_pa_id,
      </if>
      <if test="fkUId != null">
        fk_u_id,
      </if>
      <if test="palTf != null">
        pal_tf,
      </if>
      <if test="palDate != null">
        pal_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fkPaId != null">
        #{fkPaId,jdbcType=INTEGER},
      </if>
      <if test="fkUId != null">
        #{fkUId,jdbcType=INTEGER},
      </if>
      <if test="palTf != null">
        #{palTf,jdbcType=INTEGER},
      </if>
      <if test="palDate != null">
        #{palDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.msyq.psetshop.pojo.PaLike">
    <!--@mbg.generated-->
    update pa_like
    <set>
      <if test="fkPaId != null">
        fk_pa_id = #{fkPaId,jdbcType=INTEGER},
      </if>
      <if test="fkUId != null">
        fk_u_id = #{fkUId,jdbcType=INTEGER},
      </if>
      <if test="palTf != null">
        pal_tf = #{palTf,jdbcType=INTEGER},
      </if>
      <if test="palDate != null">
        pal_date = #{palDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where pal_id = #{palId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.msyq.psetshop.pojo.PaLike">
    <!--@mbg.generated-->
    update pa_like
    set fk_pa_id = #{fkPaId,jdbcType=INTEGER},
      fk_u_id = #{fkUId,jdbcType=INTEGER},
      pal_tf = #{palTf,jdbcType=INTEGER},
      pal_date = #{palDate,jdbcType=TIMESTAMP}
    where pal_id = #{palId,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2021-10-07-->
  <select id="selectAllByFkPaId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from pa_like
        where fk_pa_id=#{fkPaId,jdbcType=INTEGER}
    </select>
</mapper>