<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msyq.psetshop.mapper.PhotosGlanceMapper">
  <resultMap id="BaseResultMap" type="com.msyq.psetshop.pojo.PhotosGlance">
    <!--@mbg.generated-->
    <!--@Table photos_glance-->
    <id column="pg_id" jdbcType="INTEGER" property="pgId" />
    <result column="fk_p_id" jdbcType="INTEGER" property="fkPId" />
    <result column="fk_u_id" jdbcType="INTEGER" property="fkUId" />
    <result column="pg_tf" jdbcType="INTEGER" property="pgTf" />
    <result column="pg_date" jdbcType="TIMESTAMP" property="pgDate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    pg_id, fk_p_id, fk_u_id, pg_tf, pg_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from photos_glance
    where pg_id = #{pgId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from photos_glance
    where pg_id = #{pgId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="pg_id" keyProperty="pgId" parameterType="com.msyq.psetshop.pojo.PhotosGlance" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into photos_glance (fk_p_id, fk_u_id, pg_tf, 
      pg_date)
    values (#{fkPId,jdbcType=INTEGER}, #{fkUId,jdbcType=INTEGER}, #{pgTf,jdbcType=INTEGER}, 
      #{pgDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="pg_id" keyProperty="pgId" parameterType="com.msyq.psetshop.pojo.PhotosGlance" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into photos_glance
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fkPId != null">
        fk_p_id,
      </if>
      <if test="fkUId != null">
        fk_u_id,
      </if>
      <if test="pgTf != null">
        pg_tf,
      </if>
      <if test="pgDate == null">
        pg_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fkPId != null">
        #{fkPId,jdbcType=INTEGER},
      </if>
      <if test="fkUId != null">
        #{fkUId,jdbcType=INTEGER},
      </if>
      <if test="pgTf != null">
        #{pgTf,jdbcType=INTEGER},
      </if>
      <if test="pgDate == null">
        now(),
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.msyq.psetshop.pojo.PhotosGlance">
    <!--@mbg.generated-->
    update photos_glance
    <set>
      <if test="fkPId != null">
        fk_p_id = #{fkPId,jdbcType=INTEGER},
      </if>
      <if test="fkUId != null">
        fk_u_id = #{fkUId,jdbcType=INTEGER},
      </if>
      <if test="pgTf != null">
        pg_tf = #{pgTf,jdbcType=INTEGER},
      </if>
      <if test="pgDate != null">
        pg_date = #{pgDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where pg_id = #{pgId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.msyq.psetshop.pojo.PhotosGlance">
    <!--@mbg.generated-->
    update photos_glance
    set fk_p_id = #{fkPId,jdbcType=INTEGER},
      fk_u_id = #{fkUId,jdbcType=INTEGER},
      pg_tf = #{pgTf,jdbcType=INTEGER},
      pg_date = #{pgDate,jdbcType=TIMESTAMP}
    where pg_id = #{pgId,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2021-10-07-->
  <select id="countByFkUId" resultType="java.lang.Integer">
    select count(1)
    from photos_glance
    where fk_u_id=#{fkUId,jdbcType=INTEGER}
  </select>


<!--auto generated by MybatisCodeHelper on 2021-10-07-->
  <select id="countByPgTf" resultType="java.lang.Integer">
    select count(1)
    from photos_glance
    where pg_tf=#{pgTf,jdbcType=INTEGER}
  </select>

<!--auto generated by MybatisCodeHelper on 2021-10-09-->
  <select id="findAllByFkUIdAndFkPId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from photos_glance
        where fk_u_id=#{fkUId,jdbcType=INTEGER} and fk_p_id=#{fkPId,jdbcType=INTEGER}
    </select>

<!--auto generated by MybatisCodeHelper on 2021-10-09-->
  <select id="countByFkPId" resultType="java.lang.Integer">
        select count(1)
        from photos_glance
        where fk_p_id=#{fkPId,jdbcType=INTEGER}
    </select>

<!--auto generated by MybatisCodeHelper on 2021-10-10-->
  <select id="countByFkPIdAndPgTf" resultType="java.lang.Integer">
    select count(1)
    from photos_glance
    where fk_p_id=#{fkPId,jdbcType=INTEGER} and pg_tf=#{pgTf,jdbcType=INTEGER}
  </select>

<!--auto generated by MybatisCodeHelper on 2021-10-10-->
  <update id="updateByFkUIdAndFkPId">
    update photos_glance
    <set>
      <if test="updated.pgId != null">
        pg_id = #{updated.pgId,jdbcType=INTEGER},
      </if>
      <if test="updated.fkPId != null">
        fk_p_id = #{updated.fkPId,jdbcType=INTEGER},
      </if>
      <if test="updated.fkUId != null">
        fk_u_id = #{updated.fkUId,jdbcType=INTEGER},
      </if>
      <if test="updated.pgTf != null">
        pg_tf = #{updated.pgTf,jdbcType=INTEGER},
      </if>
      <if test="updated.pgDate == null">
        pg_date = now(),
      </if>
    </set>
    where fk_u_id=#{fkUId,jdbcType=INTEGER} and fk_p_id=#{fkPId,jdbcType=INTEGER}
  </update>
</mapper>