<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msyq.psetshop.mapper.PhotoCollectMapper">
  <resultMap id="BaseResultMap" type="com.msyq.psetshop.pojo.PhotoCollect">
    <!--@mbg.generated-->
    <!--@Table photo_collect-->
    <id column="pc_id" jdbcType="INTEGER" property="pcId" />
    <result column="fk_u_id" jdbcType="INTEGER" property="fkUId" />
    <result column="fk_pg_id" jdbcType="INTEGER" property="fkPgId" />
    <result column="pc_date" jdbcType="TIMESTAMP" property="pcDate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    pc_id, fk_u_id, fk_pg_id, pc_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from photo_collect
    where pc_id = #{pcId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from photo_collect
    where pc_id = #{pcId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="pc_id" keyProperty="pcId" parameterType="com.msyq.psetshop.pojo.PhotoCollect" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into photo_collect (fk_u_id, fk_pg_id, pc_date
      )
    values (#{fkUId,jdbcType=INTEGER}, #{fkPgId,jdbcType=INTEGER}, #{pcDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="pc_id" keyProperty="pcId" parameterType="com.msyq.psetshop.pojo.PhotoCollect" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into photo_collect
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fkUId != null">
        fk_u_id,
      </if>
      <if test="fkPgId != null">
        fk_pg_id,
      </if>
      <if test="pcDate == null">
        pc_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fkUId != null">
        #{fkUId,jdbcType=INTEGER},
      </if>
      <if test="fkPgId != null">
        #{fkPgId,jdbcType=INTEGER},
      </if>
      <if test="pcDate == null">
        now(),
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.msyq.psetshop.pojo.PhotoCollect">
    <!--@mbg.generated-->
    update photo_collect
    <set>
      <if test="fkUId != null">
        fk_u_id = #{fkUId,jdbcType=INTEGER},
      </if>
      <if test="fkPgId != null">
        fk_pg_id = #{fkPgId,jdbcType=INTEGER},
      </if>
      <if test="pcDate != null">
        pc_date = #{pcDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where pc_id = #{pcId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.msyq.psetshop.pojo.PhotoCollect">
    <!--@mbg.generated-->
    update photo_collect
    set fk_u_id = #{fkUId,jdbcType=INTEGER},
      fk_pg_id = #{fkPgId,jdbcType=INTEGER},
      pc_date = #{pcDate,jdbcType=TIMESTAMP}
    where pc_id = #{pcId,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2021-10-06-->
  <select id="listByAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from photo_collect
    </select>

<!--auto generated by MybatisCodeHelper on 2021-10-06-->
  <select id="findByAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from photo_collect
    <where>
      <if test="pcId != null">
        and pc_id=#{pcId,jdbcType=INTEGER}
      </if>
      <if test="fkUId != null">
        and fk_u_id=#{fkUId,jdbcType=INTEGER}
      </if>
      <if test="fkPgId != null">
        and fk_pg_id=#{fkPgId,jdbcType=INTEGER}
      </if>
      <if test="pcDate != null">
        and pc_date=#{pcDate,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>

<!--auto generated by MybatisCodeHelper on 2021-10-09-->
  <select id="findAllByFkUIdAndFkPgId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from photo_collect
        where fk_u_id=#{fkUId,jdbcType=INTEGER} and fk_pg_id=#{fkPgId,jdbcType=INTEGER}
    </select>

<!--auto generated by MybatisCodeHelper on 2021-10-10-->
  <select id="countByFkUIdAndFkPgId" resultType="java.lang.Integer">
        select count(1)
        from photo_collect
        where fk_u_id=#{fkUId,jdbcType=INTEGER} and fk_pg_id=#{fkPgId,jdbcType=INTEGER}
    </select>

<!--auto generated by MybatisCodeHelper on 2021-10-10-->
  <select id="countByFkPgId" resultType="java.lang.Integer">
    select count(1)
    from photo_collect
    where fk_pg_id=#{fkPgId,jdbcType=INTEGER}
  </select>

<!--auto generated by MybatisCodeHelper on 2021-10-10-->
  <update id="updateByFkUIdAndFkPgId">
    update photo_collect
    <set>
      <if test="updated.pcId != null">
        pc_id = #{updated.pcId,jdbcType=INTEGER},
      </if>
      <if test="updated.fkUId != null">
        fk_u_id = #{updated.fkUId,jdbcType=INTEGER},
      </if>
      <if test="updated.fkPgId != null">
        fk_pg_id = #{updated.fkPgId,jdbcType=INTEGER},
      </if>
      <if test="updated.pcDate == null">
        pc_date = now(),
      </if>
    </set>
    where fk_u_id=#{fkUId,jdbcType=INTEGER} and fk_pg_id=#{fkPgId,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2021-10-10-->
  <delete id="deleteByFkUIdAndFkPgId">
    delete from photo_collect
    where fk_u_id=#{fkUId,jdbcType=INTEGER} and fk_pg_id=#{fkPgId,jdbcType=INTEGER}
  </delete>
</mapper>