<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msyq.psetshop.mapper.PhotosMapper">
    <resultMap id="BaseResultMap" type="com.msyq.psetshop.pojo.Photos">
        <!--@mbg.generated-->
        <!--@Table photos-->
        <id column="p_id" jdbcType="INTEGER" property="pId"/>
        <result column="p_Name" jdbcType="VARCHAR" property="pName"/>
        <result column="fk_u_id" jdbcType="INTEGER" property="fkUId"/>
        <result column="p_img" jdbcType="VARCHAR" property="pImg"/>
        <result column="p_conent" jdbcType="VARCHAR" property="pConent"/>
        <result column="p_type" jdbcType="VARCHAR" property="pType"/>
        <result column="p_date" jdbcType="TIMESTAMP" property="pDate"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        p_id, p_Name, fk_u_id, p_img, p_conent, p_type, p_date
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from photos
        where p_id = #{pId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete
        from photos
        where p_id = #{pId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="p_id" keyProperty="pId" parameterType="com.msyq.psetshop.pojo.Photos"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into photos (p_Name, fk_u_id, p_img,
                            p_conent, p_type, p_date)
        values (#{pName,jdbcType=VARCHAR}, #{fkUId,jdbcType=INTEGER}, #{pImg,jdbcType=VARCHAR},
                #{pConent,jdbcType=VARCHAR}, #{pType,jdbcType=VARCHAR}, #{pDate,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" keyColumn="p_id" keyProperty="pId" parameterType="com.msyq.psetshop.pojo.Photos"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into photos
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pName != null">
                p_Name,
            </if>
            <if test="fkUId != null">
                fk_u_id,
            </if>
            <if test="pImg != null">
                p_img,
            </if>
            <if test="pConent != null">
                p_conent,
            </if>
            <if test="pType != null">
                p_type,
            </if>
            <if test="pDate == null">
                p_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pName != null">
                #{pName,jdbcType=VARCHAR},
            </if>
            <if test="fkUId != null">
                #{fkUId,jdbcType=INTEGER},
            </if>
            <if test="pImg != null">
                #{pImg,jdbcType=VARCHAR},
            </if>
            <if test="pConent != null">
                #{pConent,jdbcType=VARCHAR},
            </if>
            <if test="pType != null">
                #{pType,jdbcType=VARCHAR},
            </if>
            <if test="pDate == null">
                now(),
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.msyq.psetshop.pojo.Photos">
        <!--@mbg.generated-->
        update photos
        <set>
            <if test="pName != null">
                p_Name = #{pName,jdbcType=VARCHAR},
            </if>
            <if test="fkUId != null">
                fk_u_id = #{fkUId,jdbcType=INTEGER},
            </if>
            <if test="pImg != null">
                p_img = #{pImg,jdbcType=VARCHAR},
            </if>
            <if test="pConent != null">
                p_conent = #{pConent,jdbcType=VARCHAR},
            </if>
            <if test="pType != null">
                p_type = #{pType,jdbcType=VARCHAR},
            </if>
            <if test="pDate != null">
                p_date = #{pDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where p_id = #{pId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.msyq.psetshop.pojo.Photos">
        <!--@mbg.generated-->
        update photos
        set p_Name   = #{pName,jdbcType=VARCHAR},
            fk_u_id  = #{fkUId,jdbcType=INTEGER},
            p_img    = #{pImg,jdbcType=VARCHAR},
            p_conent = #{pConent,jdbcType=VARCHAR},
            p_type   = #{pType,jdbcType=VARCHAR},
            p_date   = #{pDate,jdbcType=TIMESTAMP}
        where p_id = #{pId,jdbcType=INTEGER}
    </update>

    <!--auto generated by MybatisCodeHelper on 2021-10-06-->
    <select id="findByAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from photos
        <where>
            <if test="pId != null">
                and p_id = #{pId,jdbcType=INTEGER}
            </if>
            <if test="pName != null">
                and p_Name like #{pName,jdbcType=VARCHAR}
            </if>
            <if test="fkUId != null">
                and fk_u_id = #{fkUId,jdbcType=INTEGER}
            </if>
            <if test="pImg != null">
                and p_img = #{pImg,jdbcType=VARCHAR}
            </if>
            <if test="pConent != null">
                and p_conent = #{pConent,jdbcType=VARCHAR}
            </if>
            <if test="pType != null">
                and p_type like #{pType,jdbcType=VARCHAR}
            </if>
            <if test="pDate != null">
                and p_date = #{pDate,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>

    <!--auto generated by MybatisCodeHelper on 2021-10-06-->
    <select id="listByAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from photos
        where 1 = 1
    </select>

    <!--auto generated by MybatisCodeHelper on 2021-10-13-->
    <select id="findAllByFkUId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from photos
        where fk_u_id = #{fkUId,jdbcType=INTEGER}
        order by p_date desc
    </select>


    <!--auto generated by MybatisCodeHelper on 2021-10-13-->
    <select id="findAllByFkUIdGroupCollect" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from photos
        where p_id in (
                select fk_pg_id
                from photo_collect
                where fk_pg_id in (
                        select p_id
                        from photos
                        where photos.fk_u_id = #{fkUId,jdbcType=INTEGER}
                        )
                group by fk_pg_id
                )
    </select>


    <!--auto generated by MybatisCodeHelper on 2021-10-13-->
    <select id="findAllByFkUIdGroupLike" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from photos
        where p_id in (
                select fk_p_id
                from photos_glance
                where pg_tf = 1
                  and fk_p_id in (
                        select p_id
                        from photos
                        where photos.fk_u_id = #{fkUId,jdbcType=INTEGER}
                        )
                group by fk_p_id
                )
    </select>
</mapper>