<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msyq.psetshop.mapper.PostAnswerMapper">
  <resultMap id="BaseResultMap" type="com.msyq.psetshop.pojo.PostAnswer">
    <!--@mbg.generated-->
    <!--@Table post_answer-->
    <id column="pa_id" jdbcType="INTEGER" property="paId" />
    <result column="fk_p_id" jdbcType="INTEGER" property="fkPId" />
    <result column="pas_id" jdbcType="INTEGER" property="pasId" />
    <result column="fk_u_id" jdbcType="INTEGER" property="fkUId" />
    <result column="fk_u_id_b" jdbcType="INTEGER" property="fkUIdB" />
    <result column="pa_content" jdbcType="VARCHAR" property="paContent" />
    <result column="pa_click_a" jdbcType="INTEGER" property="paClickA" />
    <result column="pa_date" jdbcType="TIMESTAMP" property="paDate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    pa_id, fk_p_id, pas_id, fk_u_id, fk_u_id_b, pa_content, pa_click_a, pa_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from post_answer
    where pa_id = #{paId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from post_answer
    where pa_id = #{paId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="pa_id" keyProperty="paId" parameterType="com.msyq.psetshop.pojo.PostAnswer" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into post_answer (fk_p_id, pas_id, fk_u_id, 
      fk_u_id_b, pa_content, pa_click_a, 
      pa_date)
    values (#{fkPId,jdbcType=INTEGER}, #{pasId,jdbcType=INTEGER}, #{fkUId,jdbcType=INTEGER}, 
      #{fkUIdB,jdbcType=INTEGER}, #{paContent,jdbcType=VARCHAR}, #{paClickA,jdbcType=INTEGER}, 
      #{paDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="pa_id" keyProperty="paId" parameterType="com.msyq.psetshop.pojo.PostAnswer" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into post_answer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fkPId != null">
        fk_p_id,
      </if>
      <if test="pasId != null">
        pas_id,
      </if>
      <if test="fkUId != null">
        fk_u_id,
      </if>
      <if test="fkUIdB != null">
        fk_u_id_b,
      </if>
      <if test="paContent != null">
        pa_content,
      </if>
      <if test="paClickA != null">
        pa_click_a,
      </if>
      <if test="paDate == null">
        pa_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fkPId != null">
        #{fkPId,jdbcType=INTEGER},
      </if>
      <if test="pasId != null">
        #{pasId,jdbcType=INTEGER},
      </if>
      <if test="fkUId != null">
        #{fkUId,jdbcType=INTEGER},
      </if>
      <if test="fkUIdB != null">
        #{fkUIdB,jdbcType=INTEGER},
      </if>
      <if test="paContent != null">
        #{paContent,jdbcType=VARCHAR},
      </if>
      <if test="paClickA != null">
        #{paClickA,jdbcType=INTEGER},
      </if>
      <if test="paDate == null">
       now(),
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.msyq.psetshop.pojo.PostAnswer">
    <!--@mbg.generated-->
    update post_answer
    <set>
      <if test="fkPId != null">
        fk_p_id = #{fkPId,jdbcType=INTEGER},
      </if>
      <if test="pasId != null">
        pas_id = #{pasId,jdbcType=INTEGER},
      </if>
      <if test="fkUId != null">
        fk_u_id = #{fkUId,jdbcType=INTEGER},
      </if>
      <if test="fkUIdB != null">
        fk_u_id_b = #{fkUIdB,jdbcType=INTEGER},
      </if>
      <if test="paContent != null">
        pa_content = #{paContent,jdbcType=VARCHAR},
      </if>
      <if test="paClickA != null">
        pa_click_a = #{paClickA,jdbcType=INTEGER},
      </if>
      <if test="paDate != null">
        pa_date = #{paDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where pa_id = #{paId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.msyq.psetshop.pojo.PostAnswer">
    <!--@mbg.generated-->
    update post_answer
    set fk_p_id = #{fkPId,jdbcType=INTEGER},
      pas_id = #{pasId,jdbcType=INTEGER},
      fk_u_id = #{fkUId,jdbcType=INTEGER},
      fk_u_id_b = #{fkUIdB,jdbcType=INTEGER},
      pa_content = #{paContent,jdbcType=VARCHAR},
      pa_click_a = #{paClickA,jdbcType=INTEGER},
      pa_date = #{paDate,jdbcType=TIMESTAMP}
    where pa_id = #{paId,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2021-10-06-->
  <select id="findByAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from post_answer
        <where>
            <if test="paId != null">
                and pa_id=#{paId,jdbcType=INTEGER}
            </if>
            <if test="fkPId != null">
                and fk_p_id=#{fkPId,jdbcType=INTEGER}
            </if>
            <if test="pasId != null">
                and pas_id=#{pasId,jdbcType=INTEGER}
            </if>
            <if test="fkUId != null">
                and fk_u_id=#{fkUId,jdbcType=INTEGER}
            </if>
            <if test="paContent != null">
                and pa_content=#{paContent,jdbcType=VARCHAR}
            </if>
            <if test="paClickA != null">
                and pa_click_a=#{paClickA,jdbcType=INTEGER}
            </if>
            <if test="paDate != null">
                and pa_date=#{paDate,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>

<!--auto generated by MybatisCodeHelper on 2021-10-06-->
  <select id="listByAll" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from post_answer
    where pa_id = #{fkPIdB,jdbcType=INTEGER}
    and pas_id = null;
  </select>

<!--auto generated by MybatisCodeHelper on 2021-10-13-->
  <select id="countByFkPId" resultType="java.lang.Integer">
        select count(1)
        from post_answer
        where fk_p_id=#{fkPId,jdbcType=INTEGER}
    </select>
</mapper>