<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msyq.psetshop.mapper.PostLikeMapper">
    <resultMap id="BaseResultMap" type="com.msyq.psetshop.pojo.PostLike">
        <!--@mbg.generated-->
        <!--@Table post_like-->
        <id column="pl_id" jdbcType="INTEGER" property="plId"/>
        <result column="fk_p_id" jdbcType="INTEGER" property="fkPId"/>
        <result column="fk_u_id" jdbcType="INTEGER" property="fkUId"/>
        <result column="pl_tf" jdbcType="INTEGER" property="plTf"/>
        <result column="pl_click_date" jdbcType="TIMESTAMP" property="plClickDate"/>
        <result column="pl_date" jdbcType="TIMESTAMP" property="plDate"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        pl_id, fk_p_id, fk_u_id, pl_tf, pl_click_date, pl_date
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from post_like
        where pl_id = #{plId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete
        from post_like
        where pl_id = #{plId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="pl_id" keyProperty="plId" parameterType="com.msyq.psetshop.pojo.PostLike"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into post_like (fk_p_id, fk_u_id, pl_tf,
                               pl_click_date, pl_date)
        values (#{fkPId,jdbcType=INTEGER}, #{fkUId,jdbcType=INTEGER}, #{plTf,jdbcType=INTEGER},
                #{plClickDate,jdbcType=TIMESTAMP}, #{plDate,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" keyColumn="pl_id" keyProperty="plId" parameterType="com.msyq.psetshop.pojo.PostLike"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into post_like
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fkPId != null">
                fk_p_id,
            </if>
            <if test="fkUId != null">
                fk_u_id,
            </if>
            <if test="plTf != null">
                pl_tf,
            </if>
            <if test="plClickDate != null">
                pl_click_date,
            </if>
            <if test="plDate == null">
                pl_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="fkPId != null">
                #{fkPId,jdbcType=INTEGER},
            </if>
            <if test="fkUId != null">
                #{fkUId,jdbcType=INTEGER},
            </if>
            <if test="plTf != null">
                #{plTf,jdbcType=INTEGER},
            </if>
            <if test="plClickDate != null">
                #{plClickDate,jdbcType=TIMESTAMP},
            </if>
            <if test="plDate == null">
                now(),
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.msyq.psetshop.pojo.PostLike">
        <!--@mbg.generated-->
        update post_like
        <set>
            <if test="fkPId != null">
                fk_p_id = #{fkPId,jdbcType=INTEGER},
            </if>
            <if test="fkUId != null">
                fk_u_id = #{fkUId,jdbcType=INTEGER},
            </if>
            <if test="plTf != null">
                pl_tf = #{plTf,jdbcType=INTEGER},
            </if>
            <if test="plClickDate != null">
                pl_click_date = #{plClickDate,jdbcType=TIMESTAMP},
            </if>
            <if test="plDate != null">
                pl_date = #{plDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where pl_id = #{plId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.msyq.psetshop.pojo.PostLike">
        <!--@mbg.generated-->
        update post_like
        set fk_p_id       = #{fkPId,jdbcType=INTEGER},
            fk_u_id       = #{fkUId,jdbcType=INTEGER},
            pl_tf         = #{plTf,jdbcType=INTEGER},
            pl_click_date = #{plClickDate,jdbcType=TIMESTAMP},
            pl_date       = #{plDate,jdbcType=TIMESTAMP}
        where pl_id = #{plId,jdbcType=INTEGER}
    </update>

    <!--auto generated by MybatisCodeHelper on 2021-10-06-->
    <select id="listByAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from post_like
    </select>

    <!--auto generated by MybatisCodeHelper on 2021-10-07-->
    <delete id="deleteByFkPId">
        delete
        from post_like
        where fk_p_id = #{fkPId,jdbcType=INTEGER}
    </delete>

    <!--auto generated by MybatisCodeHelper on 2021-10-07-->
    <select id="selectAllByFkPId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from post_like
        where fk_p_id = #{fkPId,jdbcType=INTEGER}
    </select>

    <!--auto generated by MybatisCodeHelper on 2021-10-12-->
    <select id="countByFkPId" resultType="java.lang.Integer">
        select count(1)
        from post_like
        where fk_p_id = #{fkPId,jdbcType=INTEGER}
    </select>

    <!--auto generated by MybatisCodeHelper on 2021-10-12-->
    <select id="findAllByFkUIdOrderByFkPId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from post_like
        where fk_u_id = #{fkUId,jdbcType=INTEGER}
        order by fk_p_id asc
    </select>


    <!--auto generated by MybatisCodeHelper on 2021-10-12-->
    <select id="countByFkPIdOrderByFkUId" resultType="java.lang.Integer">
        select count(1)
        from post_like
        where fk_p_id in (
                select p_id
                from post
                where post.fk_u_id = #{fkPId,jdbcType=INTEGER}
                )
    </select>

    <!--auto generated by MybatisCodeHelper on 2021-10-12-->
    <select id="countByFkPIdOrderByFkUIdLike" resultType="java.lang.Integer">
        select count(1)
        from post_like
        where fk_p_id in (
                select p_id
                from post
                where post.fk_u_id = #{fkPId,jdbcType=INTEGER}
                )
        and pl_tf = 1;
    </select>
</mapper>