<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msyq.psetshop.mapper.ShopCartMapper">
  <resultMap id="BaseResultMap" type="com.msyq.psetshop.pojo.ShopCart">
    <!--@mbg.generated-->
    <!--@Table shop_cart-->
    <id column="sc_id" jdbcType="INTEGER" property="scId" />
    <result column="fk_u_id" jdbcType="INTEGER" property="fkUId" />
    <result column="fk_g_id" jdbcType="INTEGER" property="fkGId" />
    <result column="sc_number" jdbcType="INTEGER" property="scNumber" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    sc_id, fk_u_id, fk_g_id, sc_number
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from shop_cart
    where sc_id = #{scId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from shop_cart
    where sc_id = #{scId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="sc_id" keyProperty="scId" parameterType="com.msyq.psetshop.pojo.ShopCart" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into shop_cart (fk_u_id, fk_g_id, sc_number
      )
    values (#{fkUId,jdbcType=INTEGER}, #{fkGId,jdbcType=INTEGER}, #{scNumber,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" keyColumn="sc_id" keyProperty="scId" parameterType="com.msyq.psetshop.pojo.ShopCart" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into shop_cart
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fkUId != null">
        fk_u_id,
      </if>
      <if test="fkGId != null">
        fk_g_id,
      </if>
      <if test="scNumber != null">
        sc_number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fkUId != null">
        #{fkUId,jdbcType=INTEGER},
      </if>
      <if test="fkGId != null">
        #{fkGId,jdbcType=INTEGER},
      </if>
      <if test="scNumber != null">
        #{scNumber,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.msyq.psetshop.pojo.ShopCart">
    <!--@mbg.generated-->
    update shop_cart
    <set>
      <if test="fkUId != null">
        fk_u_id = #{fkUId,jdbcType=INTEGER},
      </if>
      <if test="fkGId != null">
        fk_g_id = #{fkGId,jdbcType=INTEGER},
      </if>
      <if test="scNumber != null">
        sc_number = #{scNumber,jdbcType=INTEGER},
      </if>
    </set>
    where sc_id = #{scId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.msyq.psetshop.pojo.ShopCart">
    <!--@mbg.generated-->
    update shop_cart
    set fk_u_id = #{fkUId,jdbcType=INTEGER},
      fk_g_id = #{fkGId,jdbcType=INTEGER},
      sc_number = #{scNumber,jdbcType=INTEGER}
    where sc_id = #{scId,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2021-10-05-->
  <select id="findByAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from shop_cart
        <where>
            <if test="scId != null">
                and sc_id=#{scId,jdbcType=INTEGER}
            </if>
            <if test="fkUId != null">
                and fk_u_id=#{fkUId,jdbcType=INTEGER}
            </if>
            <if test="fkGId != null">
                and fk_g_id=#{fkGId,jdbcType=INTEGER}
            </if>
            <if test="scNumber != null">
                and sc_number=#{scNumber,jdbcType=INTEGER}
            </if>
        </where>
    </select>

<!--auto generated by MybatisCodeHelper on 2021-10-05-->
  <select id="listByAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from shop_cart
  </select>

<!--auto generated by MybatisCodeHelper on 2021-10-13-->
  <select id="findAllByFkUId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from shop_cart
        where fk_u_id=#{fkUId,jdbcType=INTEGER}
    </select>
</mapper>