<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msyq.psetshop.mapper.UserLogMapper">
  <resultMap id="BaseResultMap" type="com.msyq.psetshop.pojo.UserLog">
    <!--@mbg.generated-->
    <!--@Table user_log-->
    <id column="ul_id" jdbcType="INTEGER" property="ulId" />
    <result column="fk_u_id" jdbcType="INTEGER" property="fkUId" />
    <result column="ul_ip" jdbcType="VARCHAR" property="ulIp" />
    <result column="ul_date" jdbcType="TIMESTAMP" property="ulDate" />
    <result column="ul_content" jdbcType="VARCHAR" property="ulContent" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ul_id, fk_u_id, ul_ip, ul_date, ul_content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from user_log
    where ul_id = #{ulId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from user_log
    where ul_id = #{ulId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="ul_id" keyProperty="ulId" parameterType="com.msyq.psetshop.pojo.UserLog" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into user_log (fk_u_id, ul_ip, ul_date, 
      ul_content)
    values (#{fkUId,jdbcType=INTEGER}, #{ulIp,jdbcType=VARCHAR}, #{ulDate,jdbcType=TIMESTAMP}, 
      #{ulContent,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="ul_id" keyProperty="ulId" parameterType="com.msyq.psetshop.pojo.UserLog" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into user_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fkUId != null">
        fk_u_id,
      </if>
      <if test="ulIp != null">
        ul_ip,
      </if>
      <if test="ulDate == null">
        ul_date,
      </if>
      <if test="ulContent != null">
        ul_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fkUId != null">
        #{fkUId,jdbcType=INTEGER},
      </if>
      <if test="ulIp != null">
        #{ulIp,jdbcType=VARCHAR},
      </if>
      <if test="ulDate == null">
       now(),
      </if>
      <if test="ulContent != null">
        #{ulContent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.msyq.psetshop.pojo.UserLog">
    <!--@mbg.generated-->
    update user_log
    <set>
      <if test="fkUId != null">
        fk_u_id = #{fkUId,jdbcType=INTEGER},
      </if>
      <if test="ulIp != null">
        ul_ip = #{ulIp,jdbcType=VARCHAR},
      </if>
      <if test="ulDate != null">
        ul_date = #{ulDate,jdbcType=TIMESTAMP},
      </if>
      <if test="ulContent != null">
        ul_content = #{ulContent,jdbcType=VARCHAR},
      </if>
    </set>
    where ul_id = #{ulId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.msyq.psetshop.pojo.UserLog">
    <!--@mbg.generated-->
    update user_log
    set fk_u_id = #{fkUId,jdbcType=INTEGER},
      ul_ip = #{ulIp,jdbcType=VARCHAR},
      ul_date = #{ulDate,jdbcType=TIMESTAMP},
      ul_content = #{ulContent,jdbcType=VARCHAR}
    where ul_id = #{ulId,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2021-10-14-->
  <select id="listByAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_log
    </select>
</mapper>