<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msyq.psetshop.mapper.UsersMapper">
  <resultMap id="BaseResultMap" type="com.msyq.psetshop.pojo.Users">
    <!--@mbg.generated-->
    <!--@Table users-->
    <id column="u_id" jdbcType="INTEGER" property="uId" />
    <result column="u_password" jdbcType="VARCHAR" property="uPassword" />
    <result column="u_name" jdbcType="VARCHAR" property="uName" />
    <result column="u_img" jdbcType="VARCHAR" property="uImg" />
    <result column="u_inroduce" jdbcType="VARCHAR" property="uInroduce" />
    <result column="u_note" jdbcType="VARCHAR" property="uNote" />
    <result column="u_tf" jdbcType="INTEGER" property="uTf" />
    <result column="u_date" jdbcType="TIMESTAMP" property="uDate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    u_id, u_password, u_name, u_img, u_inroduce, u_note, u_tf, u_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from users
    where u_id = #{uId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from users
    where u_id = #{uId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="u_id" keyProperty="uId" parameterType="com.msyq.psetshop.pojo.Users" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into users (u_password, u_name, u_img, 
      u_inroduce, u_note, u_tf, 
      u_date)
    values (#{uPassword,jdbcType=VARCHAR}, #{uName,jdbcType=VARCHAR}, #{uImg,jdbcType=VARCHAR}, 
      #{uInroduce,jdbcType=VARCHAR}, #{uNote,jdbcType=VARCHAR}, #{uTf,jdbcType=INTEGER}, 
      #{uDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="u_id" keyProperty="uId" parameterType="com.msyq.psetshop.pojo.Users" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into users
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uPassword != null">
        u_password,
      </if>
      <if test="uName != null">
        u_name,
      </if>
      <if test="uImg != null">
        u_img,
      </if>
      <if test="uInroduce != null">
        u_inroduce,
      </if>
      <if test="uNote != null">
        u_note,
      </if>
      <if test="uTf != null">
        u_tf,
      </if>
      <if test="uDate == null">
        u_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uPassword != null">
        #{uPassword,jdbcType=VARCHAR},
      </if>
      <if test="uName != null">
        #{uName,jdbcType=VARCHAR},
      </if>
      <if test="uImg != null">
        #{uImg,jdbcType=VARCHAR},
      </if>
      <if test="uInroduce != null">
        #{uInroduce,jdbcType=VARCHAR},
      </if>
      <if test="uNote != null">
        #{uNote,jdbcType=VARCHAR},
      </if>
      <if test="uTf != null">
        #{uTf,jdbcType=INTEGER},
      </if>
      <if test="uDate == null">
        now(),
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.msyq.psetshop.pojo.Users">
    <!--@mbg.generated-->
    update users
    <set>
      <if test="uPassword != null">
        u_password = #{uPassword,jdbcType=VARCHAR},
      </if>
      <if test="uName != null">
        u_name = #{uName,jdbcType=VARCHAR},
      </if>
      <if test="uImg != null">
        u_img = #{uImg,jdbcType=VARCHAR},
      </if>
      <if test="uInroduce != null">
        u_inroduce = #{uInroduce,jdbcType=VARCHAR},
      </if>
      <if test="uNote != null">
        u_note = #{uNote,jdbcType=VARCHAR},
      </if>
      <if test="uTf != null">
        u_tf = #{uTf,jdbcType=INTEGER},
      </if>
      <if test="uDate != null">
        u_date = #{uDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where u_id = #{uId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.msyq.psetshop.pojo.Users">
    <!--@mbg.generated-->
    update users
    set u_password = #{uPassword,jdbcType=VARCHAR},
      u_name = #{uName,jdbcType=VARCHAR},
      u_img = #{uImg,jdbcType=VARCHAR},
      u_inroduce = #{uInroduce,jdbcType=VARCHAR},
      u_note = #{uNote,jdbcType=VARCHAR},
      u_tf = #{uTf,jdbcType=INTEGER},
      u_date = #{uDate,jdbcType=TIMESTAMP}
    where u_id = #{uId,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2021-10-03-->
  <select id="listByUNote" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from users
    where u_note=#{uNote,jdbcType=VARCHAR}
  </select>

<!--auto generated by MybatisCodeHelper on 2021-10-08-->
  <select id="findByAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from users
        <where>
            <if test="uId != null">
                and u_id=#{uId,jdbcType=INTEGER}
            </if>
            <if test="uPassword != null">
                and u_password=#{uPassword,jdbcType=VARCHAR}
            </if>
            <if test="uName != null">
                and u_name=#{uName,jdbcType=VARCHAR}
            </if>
            <if test="uImg != null">
                and u_img=#{uImg,jdbcType=VARCHAR}
            </if>
            <if test="uInroduce != null">
                and u_inroduce=#{uInroduce,jdbcType=VARCHAR}
            </if>
            <if test="uNote != null">
                and u_note=#{uNote,jdbcType=VARCHAR}
            </if>
            <if test="uTf != null">
                and u_tf=#{uTf,jdbcType=INTEGER}
            </if>
            <if test="uDate != null">
                and u_date=#{uDate,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>

<!--auto generated by MybatisCodeHelper on 2021-10-08-->
  <select id="listByAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from users
  </select>
</mapper>